.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/jonathanflintham.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/jonathanflintham.xcuserdatad/xcschemes/xcschememanagement.plist
Package.resolved
